/* Removes extra space */
html, body {
    margin: 0;
    padding: 0;
}

/* Hides default cursor */
body {
    cursor: none;
}

#gameDisplay {
    width: 100vw; /* 100% viewport width */
    height: 100vh; /* 100% viewport height */
    display: block; /* Removes extra space */
}

#customCursor {
    position: fixed; /* Prevents interactions with other elements */
    pointer-events: none; /* Prevents interactions with pointer */
    width: 25px; /* Width of cursor image */
    height: 32px; /* Height of cursor image */
    background-image: url('images/customCursor.png'); /* Cursor image filepath */
    transform: translate(-50%, -50%); /* Centers cursor */
    z-index: 1; /* Brings cursor to front */
}

/* If fullscreen enabled, hide children with class 'tohide' */
:-webkit-full-screen .tohide {
    display: none;
}
:-moz-full-screen .tohide {
    display: none;
}
:-ms-fullscreen .tohide {
    display: none;
}
:fullscreen .tohide {
    display: none;
}