.studentInfo {
    font-family: monospace, Arial, Helvetica; 
    display: block;
    margin: auto;
    text-align: center;
}
.studentCreds {
    font-family: monospace;
}
.studentCreds,.studentInfo{ 
    /* makes the box around the information */
    background-color: #9739d7;
    padding: 20px;
    margin-left: 30px auto;
}
.titleText{
    font-weight: bold;
    text-align: center;
    font-family: monospace;
    padding: 20px;
    font-size:x-large;
    margin-left: 350px;
    margin-right: 350px;
    
}
 /* TODO: Decide on final background color. */
body{
    background-color: #b76be0;
}

.Student{
    font-family:'Courier New', Courier, monospace;
    

    max-width: 800px;
    background-color: #b76be0;
    margin: 0px auto;
    padding: 20px;
    color: #251938;
    border-bottom: 2px dashed;
    padding-bottom: 20px;
}

.img {
    display: block;
    margin: auto;
    border-radius: 10%;
}
.studentQuote {
    margin-left: 60%;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}